#background-gradient-1 {
  background-image: linear-gradient(#CAD5B2, #A64998);
}

.base-font {
  font-family: 'Darker Grotesque', sans-serif;
}

.center-main-header {
  text-align: center;
  font-size: 3em;
  margin-top: 20%;
}

.center-secondary-header {
  text-align: center;
  font-size: 2em;
  margin-top: 20%;
}

.fade-in-and-out {
  animation-name: fadeInAndOut;
  animation-duration: 5s;
  opacity: 0;
}

.second-animation {
  animation-delay: 3s;
}

@keyframes fadeInAndOut {
  0% {
    opacity: 0;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
