<head>
  <link href="https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap" rel="stylesheet">
  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static 'ys_immigration/shared.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'ys_immigration/ycis-home.css' %}">
  <title>
    Citizenship Through Naturalization | YCIS
  </title>
</head>
<body class="margin--none base-font">
  <div class="header font--white">

      <img src={% static "ys_immigration/images/ys_emblem_improved.png" %} alt="Seal of the city of Ys" class="header-icon">
      <div class="header--title"> Ys Citizenship and Immigration Services </div>

    <div class="pull-right">
      <a href="https://twitter.com/CityOfYs?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @CityOfYs</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="main-nav--background">
    <ul class="main-nav center">
      <li class="nav-item" id="nav-item--first">Forms</li>
      <li class="nav-item">Citizenship</li>
      <li class="nav-item">Resources</li>
    </ul>
  </div>
  <div class="page-background">
    <div class="main--contentarea ">
      <h1>
        THE CITY-STATE OF YS THANKS YOU FOR YOUR INTEREST IN BECOMING A NATURALIZED CITIZEN. PLEASE FIND THE STEPS IN THE PROCESS BELOW.
      </h1>
      <div class="">
        General steps in the naturalizaiton process:
      </div>
      <ol>
        <li>
          <div class="subheader">Determine if you are already a citizen of Ys</div>

          Were you born in Ys? Were all your parents citizens of Ys at the time of your birth? Do you hear three soft silver chimes at the edge of your hearing during the purple hour of twilight for the twelve days preceding the vernal equinox? If the answer to all of these questions is no, proceed to the next step.
        </li>
        <li>
          <div class="subheader">Determine if you are eligible to become a citizen of Ys</div>

          Review the eligibility worksheet to help you decide if you are eligible to apply for naturalization.
        </li>
        <li>
          <div class=subheader>Prepare your form L-900, application for naturalization</div>

          Read the instructions to complete form L-900. Collect the necessary documents to demonstrate your eligibility for naturalization. If you reside outside Ys, get 2 photos of yourself taken, unsmiling, in front of backdrops you feel represents your character. Frame one. Burn the other.
        </li>
        <li>
          <div class=subheader>Submit your biometrics information, if applicable </div>
          [what should this be?]
        </li>
        <li>
          <div class=subheader>Partake in the trials</div>
        </li>
        <li>
          <div class=subheader>Receive a decision on your application</div> [how do we want to do this?]

          Granted, continued, denied
        </li>
        <li>
          <div class=subheader>Take the oath</div> [this needs to be a whole thing]

          You are not a citizen of Ys until you take the oath.
        </li>
        <li>
          <div class=subheader>Understand the meaning of Ysian citizenship</div>
        </li>

      </ol>

      For more detailed information about becoming a naturalized citizen, please contact our <a href="mailto:cityofys.gov%2Bimmigration-support@gmail.com">support services</a>
    </div>
  </div>
</body>
