<head>
  <link href="https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap" rel="stylesheet">
  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static 'ys_immigration/welcome.css' %}">
  <title>Welcome to Ys</title>
</head>
<body id=background-gradient-1 class="base-font">
  <div class="center-main-header fade-in-and-out">WELCOME TO YS</div>
  <div class="center-secondary-header fade-in-and-out second-animation">
    we will be with you shortly.
  </div>
</body>
